/* Container for the signup form */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
 
}

.logo {
    height: 50px; 
  }
  
  .nav-links a {
    text-decoration: none; 
    color: #333; 
    margin-left: 20px; 
  }
  
  .nav-links a:hover {
    color: #007bff; 
  }

/* .navbar-left a:hover {
  text-decoration: underline;

} */

.container {
  display: flex;
  justify-content: space-around;
  margin: auto;
  border-radius: 8px;
  padding: 20px;
}

.text-wrapper {
    display: flex;
    align-items: center;
}

.left-side {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side {
  width: 30%;
  padding: 10px;
  border: 3px solid #6d93fc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.welcome-text {
  bottom: 0;
  left: 0;
  padding: 10px;
  box-sizing: border-box;
}

.header .text {
  font-size: 24px;
  font-weight: bold;
}

.text-h1 {
  font-size: 5px;
  line-height: 1.6;
  text-align: center;
  justify-content: center;
}

.terms-heading {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #3c009d;
  margin: 20px 0;
}

/* Header for the form */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}


/* Title text for the signup form */
.text {
  color: #09060c;
  font-size: 48px;
  font-weight: 700;
}
.sign_down {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #655d7f;
}

.Terms, .Conditions {
    color: rgb(18, 1, 1);
}


/* Wrapper for the input fields */
.input-wrapper {
  display: flex;
  margin-bottom: 20;
  flex-direction: column;
  gap: 15px;
}

/* Style for each input container */
.inputs {
  align-items: center;
  display: flex;
  margin: auto;
  width: 80%;
  background: #eaeaea;
  border-radius: 6px;
  padding-left: 10px;
}

/* Icon style inside the input field */
.inputs img {
  /* margin-right: 20px; */
  width: 30px;
  height: 30px;
}

h1 {
    font-size: 1rem;
    color: #6c6879;
}

/* Styling for the input fields */
.inputs input {
  height: 50px;
  width: 300px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
  padding: 0 8px;
}

/* Styling for the submit button container */
.submit-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

/* Submit button styling */
.submit {
  background: #3d5ccc;
  color: white;
  padding: 15px 12.3rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  transition: background 0.3s ease;
}

/* Hover effect for the submit button */
.submit:hover {
  background: #29006d;
}

/* Optional: Media query to make the form responsive */
@media (max-width: 600px) {
  .container {
    width: 90%;
  }

  .inputs {
    width: 100%;
  }

  .inputs input {
    width: 100%;
  }
}
